body,
html {
    box-sizing: border-box;
}

h3 {
    font-family: "Source Sans Pro", sans-serif;
}

.name {
    float: right;
    text-align: right;
    font-family: 'Miniver', cursive;
    font-size: 3em;
    color: lightskyblue;
    width: 75%;
}

.job_title {
    color: #333;
    font-size: 1em;
    width: 75%;
    float: right;
    text-align: right;
    font-family: "Source Sans Pro", sans-serif;
}

.udacity_logo {
    float: left;
    max-width: 20%;
    height: auto;
    position: relative;
    padding: 2em;
}

.hero {
    max-width: 50%;
    margin: auto;
    padding: 2em;
}

.thumbnail {
    max-width: 33.33333%;
    position: relative;
}

footer {
    margin: 0 auto;
    text-align: center;
}