body,
html {
    box-sizing: border-box;
}

.name {
    float: right;
    text-align: right;
    font-family: 'Miniver', cursive;
    color: lightskyblue;
    width: 75%;
    padding: 5px;
    margin: 5px;
    background-color: red;
}

.job_title {
    color: #333;
    font-size: 1.1em;
    width: 75%;
    float: right;
    text-align: right;
    font-family: 'Rubik', sans-serif;
    background-color: violet;
}

.logo {
    /* float: left; */
    width: 25%;
    max-width: 300px;
    height: auto;
    background-color: blueviolet;
}

/* .avatar {
    border-radius: 50%;
    position: absolute;
    background-color: pink;
} */

.hero {
    width: 50%;
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: green;
}

.thumbnail {
    max-width: 30%;

}

.work {
    background-color: yellow;
}
